.hero-img{
    height: 400px;
    width: 80%;
    margin-left: 10%;
}
.news-block{
    margin-top: 50px;
    margin-left: 12%;
    margin-bottom: 150px;
}
.news-block h1{
    font-size: 50px;
}
.news-story{
    width: 90%;
    margin-top: 30px;
    font-size: 30px;
}
